{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>


.bg-image {
  /* The image used */
  background-image: url('https://www.quickanddirtytips.com/sites/default/files/images/5360/line_graph.png');

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


</style>

<meta charset="utf-8">  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="productSummaryPage">
    <div class="pSummaryHeading">
        <div class="content">
            <span class="label">Product Name : </span>
            <span class="value">{{product.text}}</span>
        </div>
        <div class="content">
            <span class="label">Selling Price : </span>
            <span class="value">Rs {{product.price}}</span>
        </div>
        <div class="content">
            <span class="label">Cost : </span>
            <span class="value">Rs {{product.buy_price}}</span>
        </div>
    </div>

    <div class="graph">
        <h6>Sales trend for {{product.text}}</h6>
        <canvas width="960" height="500"></canvas>
        <!-- <div id='openInDesktop'>
            <h6>Screen width is too small to view graphs</h6>
            <h6>To view graph you need to open this site in a desktop or Laptop</h6>
        </div> -->
            <div id='openInDesktop'  class="bg-image"></div>
            <div id='openInDesktop' class="bg-text">
                <h6>Screen width is too small to view graphs</h6>
                <h6>To view graph you need to open this site in a desktop or Laptop</h6>
            </div>

    </div>
</div>

<script>
console.log(Object.keys(data))
</script>







<script>
let data = {}
</script>
{% for t in transaction %}
<script>
    data[moment("{{t.day}}").format("D-MMM-YY")] = ({
        date : moment("{{t.day}}").format("D-MMM-YY"),
        close : "{{t.quantity}}",
       //  revenue : "{{transaction_day.profit}}"
    })
   
</script>
{% endfor %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src='{% static 'p_summary.js' %}' ></script>

{% endblock content %}
