{% extends 'base.html' %}
{% block content %}
{% load static %}


<div id="transactionPage">
    <div class="header">
      <div id="transactionPageHeaderDate">{{ day }}</div>
    </div>
    <div class="profSales">
      <div class="sales">Sales : Rs {{ day.sum }} </div>
      <div class="profit">Profit : Rs {{ day.profit }}</div>
    </div>
    <div class="transactionProductsWrapper">
      <div class="transactionProductsHeader">
        <div class="title">Products</div>
        <div class="makeNewTransactionWrapper">
            <!-- if not todays transaction, dont let them add new -->
          {% if t_day == current_day %}
          <button id="makeNewTransactionButton">
              <i class="material-icons">add</i>
          </button>
          {% endif %}
          <!-- <button id='openNewProductForm'>
              <i class="material-icons">add</i>
        </button> -->
        </div>
      </div>
      <div class="transactionProducts">
          <div class="transactionProductsTableHeader">
            <div class="title">Title</div>
            <div class="price">Price</div>
            <div class="quantity">Quantity</div>
          </div>
          {% for transaction in transactions %}
          <div class="transactionProductWrapper">
              <div class="title">{{ transaction }}  </div>
              <div class="price"> {{ transaction.product.price }}</div>
              <div class="quantity">{{ transaction.quantity }}</div>
          </div>
          {% endfor %}
      </div>
    </div>


<!--
    <p>Add a new Transaction:</p>

    <form action = "{% url 'shop_management_main:new_transaction' day.id %}"
        method = 'post'>
        {% csrf_token %}
        {{form.as_p}}
        <button name = "submit">Add Transaction</button>
    </form>
  </div> -->

{% if t_day == current_day %}
  <div id="newTransactionForm">
      <form action = "{% url 'shop_management_main:new_transaction' day.id %}"
        method = 'post'>
        <div id='closeButtonWrapper'>
            <button id='closeNewTransactionForm'>
                <i class="material-icons">close</i>
            </button>
        </div>
        <h5>Add new Transaction</h5>
        {% csrf_token %}
        {{form.as_p}}
        <button name = "submit">Add Transaction</button>
    </form>
  </div>
{% endif %}

  <script src='{% static 'transactions.js' %}' ></script>
  <script src='{% static 'linkListeners.js' %}' ></script>

<script src='{% static 'newProductToggler.js' %}' ></script>


{% endblock content %}
